---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"hello@ellamd.com","name":"EllaMD"},"personalizations":[{"to":[{"email":"customer@ellamd.com","name":"Customer
        first name Customer last name"}],"substitutions":{"%first_name%":"Customer
        first name","%last_name%":"Customer last name"}}],"template_id":"1d2cb960-f95a-466a-a962-dbb9ca72f0d4","mail_settings":{"sandbox_mode":{"enable":true}}}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Message-Id:
      - zEppfZ-lS9O8o9215M92mg
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 19 Feb 2018 08:01:22 GMT
recorded_with: VCR 4.0.0
