---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CImeiHqroHbWOk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CImeiHqroHbWOk",
          "object": "customer",
          "account_balance": 0,
          "created": 1518318043,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "ellamdcustomer+1@gmail.com",
          "invoice_prefix": "f8827b582d",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CImeiHqroHbWOk/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CImeiHqroHbWOk/subscriptions"
          }
        }
  recorded_at: Wed, 14 Feb 2018 07:51:48 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CImeiHqroHbWOk
    body:
      encoding: UTF-8
      string: source=tok_visa
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CImeiHqroHbWOk",
          "object": "customer",
          "account_balance": 0,
          "created": 1518318043,
          "currency": "usd",
          "default_source": "card_1BvL3SDHigVOsSF3vxUEKYSo",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "ellamdcustomer+1@gmail.com",
          "invoice_prefix": "f8827b582d",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BvL3SDHigVOsSF3vxUEKYSo",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CImeiHqroHbWOk",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 8,
                "exp_year": 2019,
                "fingerprint": "EhqeQv8AftvGiiDV",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CImeiHqroHbWOk/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CImeiHqroHbWOk/subscriptions"
          }
        }
  recorded_at: Wed, 14 Feb 2018 07:51:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_CImeiHqroHbWOk&items[0][plan]=primary-2-months-100-dollars
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_CJz1wlRucFhDC9",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1518594712,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1518594712,
          "current_period_end": 1523692312,
          "current_period_start": 1518594712,
          "customer": "cus_CImeiHqroHbWOk",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_CJz1JCMVe4rsth",
                "object": "subscription_item",
                "created": 1518594712,
                "metadata": {},
                "plan": {
                  "id": "primary-2-months-100-dollars",
                  "object": "plan",
                  "amount": 10000,
                  "created": 1518581077,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 2,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_CJvMHQqCivWnUm",
                  "trial_period_days": null,
                  "statement_descriptor": null,
                  "name": "Primary: 2 months for $100"
                },
                "quantity": 1,
                "subscription": "sub_CJz1wlRucFhDC9"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_CJz1wlRucFhDC9"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "primary-2-months-100-dollars",
            "object": "plan",
            "amount": 10000,
            "created": 1518581077,
            "currency": "usd",
            "interval": "month",
            "interval_count": 2,
            "livemode": false,
            "metadata": {},
            "nickname": null,
            "product": "prod_CJvMHQqCivWnUm",
            "trial_period_days": null,
            "statement_descriptor": null,
            "name": "Primary: 2 months for $100"
          },
          "quantity": 1,
          "start": 1518594712,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Wed, 14 Feb 2018 07:51:53 GMT
recorded_with: VCR 4.0.0
