---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CLiv4zu4CXN22r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CLiv4zu4CXN22r",
          "object": "customer",
          "account_balance": 0,
          "created": 1518996134,
          "currency": "usd",
          "default_source": "card_1Bx1TwDHigVOsSF3nzjVMhpT",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "vasily.s.nesterov+3@gmail.com",
          "invoice_prefix": "92dfaa220d",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1Bx1TwDHigVOsSF3nzjVMhpT",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "99999",
                "address_zip_check": "pass",
                "brand": "MasterCard",
                "country": "US",
                "customer": "cus_CLiv4zu4CXN22r",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2020,
                "fingerprint": "xd0mlhoPlOKhEZN9",
                "funding": "credit",
                "last4": "4444",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CLiv4zu4CXN22r/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_CLiva9bg1jfjOq",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1518996137,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1518996137,
                "current_period_end": 1524093737,
                "current_period_start": 1518996137,
                "customer": "cus_CLiv4zu4CXN22r",
                "days_until_due": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_CLivNXGZMNPjBa",
                      "object": "subscription_item",
                      "created": 1518996137,
                      "metadata": {},
                      "plan": {
                        "id": "primary-2-months-100-dollars",
                        "object": "plan",
                        "amount": 10000,
                        "created": 1518581077,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 2,
                        "livemode": false,
                        "metadata": {},
                        "nickname": null,
                        "product": "prod_CJvMHQqCivWnUm",
                        "trial_period_days": null,
                        "statement_descriptor": null,
                        "name": "Primary: 2 months for $100"
                      },
                      "quantity": 1,
                      "subscription": "sub_CLiva9bg1jfjOq"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_CLiva9bg1jfjOq"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "primary-2-months-100-dollars",
                  "object": "plan",
                  "amount": 10000,
                  "created": 1518581077,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 2,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_CJvMHQqCivWnUm",
                  "trial_period_days": null,
                  "statement_descriptor": null,
                  "name": "Primary: 2 months for $100"
                },
                "quantity": 1,
                "start": 1518996137,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CLiv4zu4CXN22r/subscriptions"
          }
        }
  recorded_at: Mon, 19 Feb 2018 10:22:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CLiv4zu4CXN22r/sources/card_1Bx1TwDHigVOsSF3nzjVMhpT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1Bx1TwDHigVOsSF3nzjVMhpT",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": "99999",
          "address_zip_check": "pass",
          "brand": "MasterCard",
          "country": "US",
          "customer": "cus_CLiv4zu4CXN22r",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 10,
          "exp_year": 2020,
          "fingerprint": "xd0mlhoPlOKhEZN9",
          "funding": "credit",
          "last4": "4444",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Mon, 19 Feb 2018 10:22:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_CLiv4zu4CXN22r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_1Bx1U5DHigVOsSF3yspeTPf1",
              "object": "invoice",
              "amount_due": 10000,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "billing": "charge_automatically",
              "charge": "ch_1Bx1U5DHigVOsSF368krJ3UM",
              "closed": true,
              "currency": "usd",
              "customer": "cus_CLiv4zu4CXN22r",
              "date": 1518996137,
              "description": null,
              "discount": null,
              "due_date": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_CLiva9bg1jfjOq",
                    "object": "line_item",
                    "amount": 10000,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1518996137,
                      "end": 1524093737
                    },
                    "plan": {
                      "id": "primary-2-months-100-dollars",
                      "object": "plan",
                      "amount": 10000,
                      "created": 1518581077,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 2,
                      "livemode": false,
                      "metadata": {},
                      "nickname": null,
                      "product": "prod_CJvMHQqCivWnUm",
                      "trial_period_days": null,
                      "statement_descriptor": null,
                      "name": "Primary: 2 months for $100"
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "subscription_item": "si_CLivNXGZMNPjBa",
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_1Bx1U5DHigVOsSF3yspeTPf1/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "number": "92dfaa220d-0001",
              "paid": true,
              "period_end": 1518996137,
              "period_start": 1518996137,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_CLiva9bg1jfjOq",
              "subtotal": 10000,
              "tax": null,
              "tax_percent": null,
              "total": 10000,
              "webhooks_delivered_at": null
            }
          ],
          "has_more": false,
          "url": "/v1/invoices"
        }
  recorded_at: Mon, 19 Feb 2018 10:22:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/upcoming?customer=cus_CLiv4zu4CXN22r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
 [...]
