---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/PAUSED-SUBSCRIPTION-DO-NOT-DELETE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "PAUSED-SUBSCRIPTION-DO-NOT-DELETE",
          "object": "coupon",
          "amount_off": null,
          "created": 1519007078,
          "currency": null,
          "duration": "forever",
          "duration_in_months": null,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "percent_off": 100,
          "redeem_by": null,
          "times_redeemed": 2,
          "valid": true
        }
  recorded_at: Tue, 20 Feb 2018 05:35:18 GMT
recorded_with: VCR 4.0.0
