---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=ellamdcustomer%2Bnew%40gmail.com
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CJv0v0oI8DHd9M",
          "object": "customer",
          "account_balance": 0,
          "created": 1518579790,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "ellamdcustomer+new@gmail.com",
          "invoice_prefix": "9a8c22b247",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CJv0v0oI8DHd9M/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CJv0v0oI8DHd9M/subscriptions"
          }
        }
  recorded_at: Wed, 14 Feb 2018 03:43:10 GMT
recorded_with: VCR 4.0.0
