---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CImeiHqroHbWOk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CImeiHqroHbWOk",
          "object": "customer",
          "account_balance": 0,
          "created": 1518318043,
          "currency": "usd",
          "default_source": "card_1BxAx6DHigVOsSF3FVIhJvlf",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "ellamdcustomer+1@gmail.com",
          "invoice_prefix": "f8827b582d",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BxAx6DHigVOsSF3FVIhJvlf",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": "1234 Main Street",
                "address_line1_check": "fail",
                "address_line2": null,
                "address_state": null,
                "address_zip": "94110",
                "address_zip_check": "fail",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CImeiHqroHbWOk",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 8,
                "exp_year": 2019,
                "fingerprint": "tMdoLsFrUfox4ZtQ",
                "funding": "credit",
                "last4": "0010",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CImeiHqroHbWOk/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CImeiHqroHbWOk/subscriptions"
          }
        }
  recorded_at: Mon, 19 Feb 2018 10:00:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CImeiHqroHbWOk
    body:
      encoding: UTF-8
      string: coupon=does-not-exist-in-stripe
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such coupon: does-not-exist-in-stripe",
            "param": "coupon"
          }
        }
  recorded_at: Mon, 19 Feb 2018 10:00:35 GMT
recorded_with: VCR 4.0.0
