---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_CLpIAJZPx67L77
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_CLpIAJZPx67L77",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1519019812,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1519019812,
          "current_period_end": 1524117412,
          "current_period_start": 1519019812,
          "customer": "cus_CLpINp7JHqD99J",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_CLpI0aI101hkjE",
                "object": "subscription_item",
                "created": 1519019812,
                "metadata": {},
                "plan": {
                  "id": "primary-2-months-100-dollars",
                  "object": "plan",
                  "amount": 10000,
                  "created": 1518581077,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 2,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_CJvMHQqCivWnUm",
                  "trial_period_days": null,
                  "statement_descriptor": null,
                  "name": "Primary: 2 months for $100"
                },
                "quantity": 1,
                "subscription": "sub_CLpIAJZPx67L77"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_CLpIAJZPx67L77"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "primary-2-months-100-dollars",
            "object": "plan",
            "amount": 10000,
            "created": 1518581077,
            "currency": "usd",
            "interval": "month",
            "interval_count": 2,
            "livemode": false,
            "metadata": {},
            "nickname": null,
            "product": "prod_CJvMHQqCivWnUm",
            "trial_period_days": null,
            "statement_descriptor": null,
            "name": "Primary: 2 months for $100"
          },
          "quantity": 1,
          "start": 1519019812,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Mon, 19 Feb 2018 08:57:03 GMT
[...]
