---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CImeiHqroHbWOk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CImeiHqroHbWOk",
          "object": "customer",
          "account_balance": 0,
          "created": 1518318043,
          "currency": "usd",
          "default_source": "card_1BxCBUDHigVOsSF3PCYkKyOq",
          "delinquent": false,
          "description": null,
          "discount": {
            "object": "discount",
            "coupon": {
              "id": "PAUSED-SUBSCRIPTION-DO-NOT-DELETE",
              "object": "coupon",
              "amount_off": null,
              "created": 1519007078,
              "currency": null,
              "duration": "forever",
              "duration_in_months": null,
              "livemode": false,
              "max_redemptions": null,
              "metadata": {},
              "percent_off": 100,
              "redeem_by": null,
              "times_redeemed": 2,
              "valid": true
            },
            "customer": "cus_CImeiHqroHbWOk",
            "end": null,
            "start": 1519034784,
            "subscription": null
          },
          "email": "ellamdcustomer+1@gmail.com",
          "invoice_prefix": "f8827b582d",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BxCBUDHigVOsSF3PCYkKyOq",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CImeiHqroHbWOk",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 8,
                "exp_year": 2019,
                "fingerprint": "5jGBDwTBJ1PLAsLX",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CImeiHqroHbWOk/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_CLtzmuC80CR99v",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1519037269,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1519037269,
                "current_period_end": 1524134869,
                "current_period_start": 1519037269,
                "customer": "cus_CImeiHqroHbWOk",
                "days_until_due": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_CLtz2yGhJwDVxK",
                      "object": "subscription_item",
                      "created": 1519037269,
                      "metadata": {},
                      "plan": {
                        "id": "primary-2-months-100-dollars",
                        "object": "plan",
                        "amount": 10000,
                        "created": 1518581077,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 2,
                        "livemode": false,
                        "metadata": {},
                        "nickname": null,
                        "product": "prod_CJvMHQqCivWnUm",
                        "trial_period_days": null,
                        "statement_descriptor": null,
                        "name": "Primary: 2 months for $100"
                      },
                      "quantity": 1,
                      "subscription": "sub_CLtzmuC80CR99v"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_CLtzmuC80CR99v"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "primary-2-months-100-dollars",
                  "object": "plan",
                  "amount": 10000,
                  "created": 1518581077,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 2,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_CJvMHQqCivWnUm",
                  "trial_period_days": null,
                  "statement_descriptor": null,
                  "name": "Primary: 2 months for $100"
                },
                "quantity": 1,
                "start": 1519037269,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CImeiHqroHbWOk/subscriptions"
          }
        }
  recorded_at: Mon, 19 Feb 2018 10:48:30 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/subscriptions/sub_CLtzmuC80CR99v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_CImeiHqroHbWOk/sources/card_1BxCBUDHigVOsSF3PCYkKyOq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "card_1BxCBUDHigVOsSF3PCYkKyOq"
        }
  recorded_at: Mon, 19 Feb 2018 10:48:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CImeiHqroHbWOk
    body:
      encoding: UTF-8
      string: source=tok_chargeDeclined
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined",
            "decline_code": "generic_decline"
          }
        }
  recorded_at: Mon, 19 Feb 2018 10:48:34 GMT
recorded_with: VCR 4.0.0
