---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CImeiHqroHbWOk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CImeiHqroHbWOk",
          "object": "customer",
          "account_balance": 0,
          "created": 1518318043,
          "currency": "usd",
          "default_source": "card_1BxAtsDHigVOsSF350xbr06W",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "ellamdcustomer+1@gmail.com",
          "invoice_prefix": "f8827b582d",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BxAtsDHigVOsSF350xbr06W",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "MasterCard",
                "country": "US",
                "customer": "cus_CImeiHqroHbWOk",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 8,
                "exp_year": 2019,
                "fingerprint": "JO0jtUdI26v8ltNv",
                "funding": "debit",
                "last4": "8210",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CImeiHqroHbWOk/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CImeiHqroHbWOk/subscriptions"
          }
        }
  recorded_at: Mon, 19 Feb 2018 09:26:01 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CImeiHqroHbWOk/sources/card_1BxAuMDHigVOsSF33hDOa4nl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1BxAuMDHigVOsSF33hDOa4nl",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "MasterCard",
          "country": "US",
          "customer": "cus_CImeiHqroHbWOk",
          "cvc_check": null,
          "dynamic_last4": null,
          "exp_month": 8,
          "exp_year": 2019,
          "fingerprint": "JO0jtUdI26v8ltNv",
          "funding": "debit",
          "last4": "8210",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Mon, 19 Feb 2018 09:26:05 GMT
recorded_with: VCR 4.0.0
