---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CImeiHqroHbWOk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CImeiHqroHbWOk",
          "object": "customer",
          "account_balance": 0,
          "created": 1518318043,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": {
            "object": "discount",
            "coupon": {
              "id": "PAUSED-SUBSCRIPTION-DO-NOT-DELETE",
              "object": "coupon",
              "amount_off": null,
              "created": 1519007078,
              "currency": null,
              "duration": "forever",
              "duration_in_months": null,
              "livemode": false,
              "max_redemptions": null,
              "metadata": {},
              "percent_off": 100,
              "redeem_by": null,
              "times_redeemed": 2,
              "valid": true
            },
            "customer": "cus_CImeiHqroHbWOk",
            "end": null,
            "start": 1519034784,
            "subscription": null
          },
          "email": "ellamdcustomer+1@gmail.com",
          "invoice_prefix": "f8827b582d",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CImeiHqroHbWOk/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CImeiHqroHbWOk/subscriptions"
          }
        }
  recorded_at: Tue, 20 Feb 2018 12:53:43 GMT
[...]
