---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"hello@ellamd.com","name":"EllaMD"},"personalizations":[{"to":[{"email":"customer@ellamd.com","name":"Customer
        first name Customer last name"}],"substitutions":{"%first_name%":"Customer
        first name","%last_name%":"Customer last name"}}],"template_id":"8a3bae2d-113d-4113-a04e-2d545fd811fb","mail_settings":{"sandbox_mode":{"enable":true}}}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Message-Id:
      - P-SYJ7zxS62-I47WTFBaNQ
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Feb 2018 00:20:10 GMT
recorded_with: VCR 4.0.0
